.page-template-template-homepage {
  .wrap {
    padding-bottom: 0;
  }
}

.hero {  
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 30rem;
  //padding-bottom: calc(3em + 62px);
  margin-top: -62px;
  &:after{
  	content: '';
  	position: absolute;
  	width: inherit;
  	height: inherit;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.3);        
  }
  
  .hero-logo img {
    height: 6em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding-top: 62px;
    //padding: 3.5em;
    //padding-top: calc(3.5em + 62px);
    text-align: center;
    z-index: 1;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.hours{
  width: 100%;
  background-color: $garrisons-bright-background;
  //padding: 1rem 2rem 1rem 2rem;
  .dummy{
    float: left;
    display: inline-block;
  }
  .banner{
    padding: 1rem 2rem 1rem 1rem;
  }
  .phone{
    float: right;
    display: inline-block;
    background-color: $garrisons-bright-background-offset;
    padding: 1rem 2rem 1rem 2rem;
    p{
      color: $garrisons-bright-text;
    }
    @media (max-width: $tablet-size){
      float: none;
      display: block;
      margin: auto;
    }
  }
  p{
    //margin: 1rem 0 1rem 0;
    margin: 0;
    color: $color__text-light;
    text-align: center;
    font-family: $banner-font-family;
    font-weight: 700;
  }
}

.wrap{
  .content-page{
    @include span-columns(7);
    @include shift(1);
    @media(max-width: $tablet-size){
      @include span-columns(10);
      @include omega();
    }
  }
	.savings{
  	@include span-columns(3);
  	@include omega();
    @media(max-width: $tablet-size){
      @include span-columns(12);
      @include omega();
    }
  	h1{
    	margin-top: 1.2rem;
    	color: $garrisons-bright-header;
    	font-family: $heading-font-family-normal;
    	font-size: modular-scale(2);
    	span{
      	font-size: modular-scale(2);
    	}
  	}
	}
}

.callout{
  width: 100%;
  background: black;
  padding: 2rem 2rem 2rem 2rem;
  p{
    font-family: $heading-font-family-alt;
    font-size: modular-scale(1);
    //font-weight: 700;
    color: $callout-color;
    text-align: center;
  }
  h1{
    color: white;
    text-align: center;
    font-family: $heading-font-family-alt;
    font-size: modular-scale(2);
    text-transform: uppercase;
  }
}

#news{
  header.entry-header{
    display: block;
    width: 100%;
    background-color: $news-background-color;
    overflow: hidden;
    margin: 0 0 1rem 0;
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
  a.button{
    display: block;
    float: right;
    background-color: $news-button-color;
    color: $news-background-color;
    transition: all linear .3s;
    padding: 2rem 4rem 2rem 4rem;
    font-weight: 700;
    &:hover{
      background-color: tint($news-color, 30%);
    }
  }
  h1{
    display: block;
    float: left;
    padding: 2rem 1rem 2rem 2rem;
    margin: 0;
    font-family: $heading-font-family-alt;
    font-size: 1rem;
    text-align: left;
    a{
      color: $news-color;
      transition: all linear .3s;
      &:hover{
        color: shade($news-color, 30%);
      }
    }
  }
}

.brand-section{
  margin-bottom: 2rem;
  height: rem(350);
  @media (max-width: $tablet-size){
    height: auto;
  }
}

.wrap{
  &.brand-section{
    padding-top: 0;
  }
  .brand-statement{
    @include span-columns(4);
    @include shift(1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      color: white;
      font-size: modular-scale(2);
    }
    p{
      text-align: justify;
    }
    .red-header{ 
        width: 220px;
        height: 80px;
        background: red;
        position: relative;
        border-radius: 10px 0 0 10px;
        //margin: auto;
        margin-bottom: 2rem;
    
    } 
    .red-header:before{ 
        content:"";
        position: absolute;
        left: 100%;
        width: 0;
        height: 0; 
        border-top: 40px solid transparent;
        border-left: 26px solid red; 
        border-bottom: 40px solid transparent;
    }
    @media(max-width: $tablet-size){
      @include span-columns(10);
      @include shift(1);
      @include omega();
      height: auto;
      position: static;
      top: 0;
      transform: translateY(0);
      padding-top: 2rem;
    }
  }
  .brand-slider{
    @include span-columns(6);
    @include omega();
    height: rem(350);
    img{
      display: block;
      max-width: 80%;
      height: auto;
      margin: auto;
    }
    .lean-slider{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      //padding-top: 3rem;
      margin: auto;
      width: 80%;
    }
    @media(max-width: $tablet-size){
      @include span-columns(12);
      @include shift(0);
      @include omega();
    }
  }
}

.closeouts{
  width: 100%;
  background-image: url('/wp-content/uploads/2016/07/garrisonsCyclery_shop_toolbox.jpg');
  background-attachment: fixed;
  background-size: cover;
  //background-position: center center;
  .wrap{
    padding-top: 0;
  }
}

.wrap{
  .closeout-list{
    @include span-columns(6);
    @include shift(5);
    @include omega();
    position: relative;
    padding: 0 3rem 1.5rem 3rem;
    background-color: $news-background-color;
    h1{
      color: $news-color;
      padding: 1.5rem 0 1.5rem 0;
      margin-bottom: 2rem;
      border-bottom: 2px solid $news-color;
      font-size: modular-scale(2);
      text-align: left;
    }
    ul{
      color: $news-color;
    }
    p{
      color: $news-color;
      margin-bottom: 1rem;      
    }
    p.top-line {
      position: relative;
      background: inherit;
/*
      width: 70%;
      max-width: 40rem;
      min-width: 300px;
*/
      margin: auto;
/*
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #fff;
*/
      padding-right: 4rem;
      margin-bottom: 0;
      margin-top: 2rem;
      font-size: modular-scale(1);
      line-height: 1rem;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        line-height: 0;
        border-bottom: 2px dotted $news-color;
      }
      .description {
        position: relative;
        background: inherit;
        display: inline;
        z-index: 1;
        padding-right: .2rem;
      }
      .price {
        background: inherit;
        position: absolute;
        min-width: 4rem;
        bottom: 0;
        right: 0;
        padding-left: .2rem;
        text-align: right;
        z-index: 2;
      }
      .price:before {
        content: '$';
      }
    }
    @media(max-width: $tablet-size){
      @include span-columns(10);
      @include shift(1);
      @include omega();
    }
  }
}

.service-section{  
}

.wrap{
  .service-section-inner{
    @include span-columns(10);
    @include shift(1);
    @include omega();
    h1{
      font-family: $heading-font-family-alt;
      font-size: modular-scale(1);
      color: $callout-color;
      text-transform: none;
    }
  }
}

.service-brands{
  display: flex;
  .service-brand{
    height: 6rem;
    padding: 1rem;
    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.testimonial-section{
}

.testimonials{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .testimonial{
    position: relative;
    height: 17rem;
    flex-basis: 33.333%;
    flex-grow: 1;
    padding: 3rem;
    background-color: tint($garrisons-bright-background, 15%);
    color: white;
    &:nth-child(odd){
      background-color: $garrisons-bright-background;
    }
    @media(max-width: $tablet-size){
      flex-basis: 100%;
    }
    blockquote{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      cite{
        margin-top: 1rem;
        display: block;
        &:before {
        content: "\2014 \2009";
        }
      }
    }
  }
}

.map-section{
  width: 100%;
  .mapp-layout{
    margin: 0;
  }
}

.bullets {

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;
  font-family: $base-font-family;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
    @include omega();
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
    font-family: $heading-font-family;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

