.page-template-template-homepage {
  .wrap {
    padding-bottom: 0;
  }
}

.hero {  
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: calc(3em + 62px);
  margin-top: -62px;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    padding-top: calc(3.5em + 62px);
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.hours{
  width: 100%;
  background-color: $garrisons-bright-background;
  .wrap{
    padding-top: 0;
  }
  p{
    margin: 1rem 0 1rem 0;
    color: $color__text-light;
    text-align: center;
    font-weight: 700;
  }
}

.callout{
  width: 100%;
  background: black;
  padding: 2rem 2rem 2rem 2rem;
  p{
    font-size: modular-scale(1);
    font-weight: 700;
    color: $callout-color;
    text-align: center;
  }
  h1{
    color: white;
    text-align: center;
    font-size: modular-scale(2);
    text-transform: uppercase;
  }
}

#news{
  header.entry-header{
    display: block;
    width: 100%;
    background-color: $news-background-color;
    overflow: hidden;
    margin: 0 0 1rem 0;
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
  a.button{
    display: block;
    float: right;
    background-color: $news-color;
    color: $news-background-color;
    transition: all linear .3s;
    padding: 2rem 4rem 2rem 4rem;
    font-weight: 700;
    &:hover{
      background-color: tint($news-color, 30%);
    }
  }
  h1{
    display: block;
    float: left;
    padding: 2rem 1rem 2rem 2rem;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    a{
      color: $news-color;
      transition: all linear .3s;
      &:hover{
        color: shade($news-color, 30%);
      }
    }
  }
}

.bullets {

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;
  font-family: $base-font-family;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
    font-family: $heading-font-family;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

