.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

%heading1 {
	font-family: $heading-font-family;
	font-size: modular-scale(4);
	font-weight: 700;
	margin-bottom: 0.5em;
}

%heading2 {
	font-family: $heading-font-family;
	font-size: modular-scale(3);
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 1.1em;
}
	
article {
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	.entry-content {
		margin-top: 0;

		figure {
			width: auto !important;
		}

		img {
			height: auto;
		}
	}

	@include clearfix;
		font-family: $base-font-family;
		text-align: left;

	h1, h2, h3, p {
		margin: 0;
	}

	hr {
		border-bottom: 1px solid $light-gray;
		border-left: none;
		border-right: none;
		border-top: none;
		margin: $base-spacing 0;
	}

	p {
		color: $base-font-color;
		line-height: $base-line-height;
	}

	a {
		color: $action-color;
		text-decoration: none;
	}

	.type {
		border-bottom: 1px solid;
		display: inline-block;
		font-family: $base-font-family;
		font-size: 0.7em;
		font-weight: 800;
		margin-bottom: 2em;
		padding: 0.3em 0;
		text-align: left;
		text-transform: uppercase;
	}
	
	h1,h2,h3{
  	text-align: left;
	}

	h1 {
    @extend %heading1;
    font-size: modular-scale(1);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $news-color;
  	a {
  		color: $base-font-color;
  	}
	}

	h2 {
  	@extend %heading2;
    font-size: modular-scale(1);
    margin-bottom: 2rem;
	}

	code {
		background: #F7F7F7;
		border-radius: $base-border-radius * 1.5;
		border: 1px solid #E0E0E0;
		font-size: 0.7em;
		font-style: normal;
		padding: 0.1em 0.4em;
		white-space: nowrap;
	}

	h3 {
		font-family: $heading-font-family;
		font-size: modular-scale(0);
		font-weight: 700;
		//line-height: 1.3em;
		margin-bottom: 2rem;
	}

	.entry-meta {
		color: transparentize($base-font-color, 0.6);
		font-family: $base-font-family;
		font-size: 0.9em;
		font-style: italic;
		margin-bottom: 0.3em;

		a {
			@extend .entry-meta;
		}
	}

	p {
		font-family: $base-font-family;
		font-size: 1.05em;
		line-height: 1.5em;
		margin-bottom: 1.5em;
	}

	a.more-link {
		display: inline-block;
		font-family: $base-font-family;
		font-size: 0.8em;
		font-weight: 700;
		margin-left: 0.2em;
		position: relative;
		text-transform: uppercase;

		span {
			font-family: $base-font-family;
			font-size: 1.5em;
			font-style: normal;
			position: absolute;
			right: -12px;
			top: -1px;
		}
	}

	hr {
		width: 3em;
	}
}

h1{
  @extend %heading1;
  text-align: center;
  text-transform: uppercase;
}

h2{
  @extend %heading2;
  text-align: center;
  text-transform: uppercase;
}

.page-header{
  width: 100%;
  background-color: $news-background-color;
  .content-home{
    overflow: hidden;
  }
  h1{
    margin: 0;
    color: $news-color;
    text-align: left;
    font-size: modular-scale(3);
    position: relative;
    background: inherit;
    overflow: hidden;
/*
    width: 70%;
    max-width: 40rem;
    min-width: 300px;
*/
    margin: auto;
/*
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
*/
    font-size: modular-scale(3);
    //line-height: 1rem;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0;
      line-height: 0;
      border-bottom: 2px solid $news-color;
    }
    .header {
      position: relative;
      background: inherit;
      display: inline;
      z-index: 1;
      padding-right: 1rem;
    }
  }
}

.page-template-template-resources, .page-template-template-trail-maps{
  article{
    h1{
      border-bottom: 2px solid $garrisons-bright-header;
    }
  }
}

.resource-blocks{
  display: flex;
  align-items: stretch;
  max-width: 80%;
  margin-bottom: 2rem;
  @media (max-width: $tablet-size){
    max-width: 100%;
  }
  .resource-info{
    position: relative;
    min-height: 10rem;
    flex-basis: 66.66%;
    margin-right: 2rem;
    h1{
      text-align: left;
      font-size: modular-scale(0);
    }
    button{
      position: absolute;
      bottom: 0;
      background-color: $garrisons-bright-header;
      &:hover{
        background-color: shade($garrisons-bright-header, 20%)
      }
    }
  }
  .resource-image{
    flex-basis: 33.33%;
    background-size: cover;
    background-position: center center;
  }
}

.inner-column{
  @include span-columns(6);
  @media (max-width: $tablet-size){
    @include span-columns(12);
  }
  &:nth-child(even){
    @include omega();
  }
}